.grid-container {
    grid-template-columns: auto auto auto;
    row-gap: 300px;
    display: grid;
}
.flexbox {
    display: flex;
    width: 180px;
    height: 180px;
    border: 1px solid coral;

}